.color-primary{
    color: #AD1457;
}

.round{
    border-radius: 4px;
}
.side-view{
    margin-top: 7em;
}

@media (min-width: 320px) and (max-width: 480px) {
    #manage_qty{
        display: inline-block;
        float: right;
    }
    #manage_qty_btn{
        margin-top: 3px;
    }
    #design_by{
    	display: none;
    }	        
    .alert-success{
		color: #fff;
		background-color: #AD1457;
	}	 

    .bootstrap-tab-text-grid-right {
        width: 88%;
    }  

    .side-view{
        margin-top: 1em;
    }     
}
.dropdown-menu {  
	top: 20px;
    left: -84px;
    min-width: 7rem;    
    color: #AD1457;  
}

.dropdown-menu > li> a{  
    color: #AD1457;  
    margin-left: 5px;
    position: relative;
    left: -5px;
    border-radius: 4px; 
    border-bottom: 1px solid #ddd;
}

.login-input{
    border-radius: 4px; 
}

.login-finish{
    border-radius: 4px;
    color: #AD1457;   
}

.login-button{
    border-radius: 4px;
    background-color: #AD1457;   
    box-shadow: none;
}

.profile-info{
    background: #f7f7f7;
    border: 1px solid #ebeeef;
    padding: 8px;
}




    